autopep8==1.4.3
boto3==1.7.40
botocore==1.10.84
Click==7.0
docutils==0.14
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.3
Flask-HTTPAuth==3.2.4
Flask-Limiter==1.0.1
flask-marshmallow==0.7.0
Flask-RESTful==0.3.6
Flask-SSO==0.4.0
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
ipaddress==1.0.22
itsdangerous==1.1.0
jmespath==0.9.4
lxml==4.3.2
Mako==1.0.7
MarkupSafe==1.1.1
marshmallow==2.15.1
parsel==1.5.1
psycopg2==2.7.5
psycopg2-binary==2.7.7
pyasn1==0.4.5
pyasn1-modules==0.2.4
pycodestyle==2.5.0
pycparser==2.19
PyDispatcher==2.0.5
PyHamcrest==1.9.0
PyJWT==1.6.3
pyOpenSSL==19.0.0
python-dateutil==2.8.0
python-editor==1.0.4
python-magic==0.4.13
pytz==2018.9
queuelib==1.5.0
requests
Scrapy==1.5.0
service-identity==18.1.0
six==1.12.0
Twisted==18.9.0
urllib3==1.24.1
uWSGI==2.0.17.1
w3lib==1.20.0
Werkzeug==0.14.1
zope.interface==4.6.0
