{% extends "base_email_storage.html" %} {% block content %}
<p
  style="font-family: sans-serif; font-size: 16px; font-weight: bold; margin: 0; Margin-bottom: 15px;"
>
  Submitted on: {{ current_date }}
</p>
<br />
<p
  style="font-family: sans-serif; font-size: 14px; font-weight: bold; margin: 0; Margin-bottom: 15px;"
>
  {{ content_dict["name"] }} ({{ content_dict["uid"] }}) with a designated
  affiliation with UVA has submitted an allocation request for the following:
</p>
<table border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td>Email: {{ content_dict["email"] }}</td>
    </tr>
    <tr>
      <td>Department: {{ content_dict["department"] }}</td>
    </tr>
  </tbody>
</table>
<br />
<p
  style="font-family: sans-serif; font-size: 14px; font-weight: bold; margin: 0; Margin-bottom: 15px;"
>
The project information is as follows:
</p>
<br />
<table border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td>Cost Center: {{ content_dict["cost-center"] }}</td>
    </tr>
    <tr>
      <td>
        Business Unit: {{ content_dict["business-unit"] }}
      </td>
    </tr>
    <tr>
      <td>Request Capacity: {{ content_dict["capacity"] }}</td>
    </tr>
    <tr>
      <td>Discipline: {{ content_dict["discipline"] }}</td>
    </tr>
    <tr>
      <td>Discipline Other: {{ content_dict["discipline-other"] }}</td>
    </tr>
    <tr>
      <td>Project Title: {{ content_dict["project-title"] }}</td>
    </tr>
    <tr>
      <td>Storage Choice: {{ content_dict["storage-choice"] }}</td>
    </tr>
    <tr>
      <td>Type Of Request: {{ content_dict["type-of-request"] }}</td>
    </tr>
    <tr>
      <td>Financial Contact: {{ content_dict["financial-contact"] }}</td>
    </tr>
    <tr>
      <td>Function: {{ content_dict["function"] }}</td>
    </tr>
    <tr>
      <td>Fund: {{ content_dict["fund"] }}</td>
    </tr>
    <tr>
      <td>Funding Number: {{ content_dict["funding-number"] }}</td>
    </tr>
    <tr>
      <td>Funding Type: {{ content_dict["funding-type"] }}</td>
    </tr>
  </tbody>
</table>
<br />
<table border="0" cellpadding="0" cellspacing="5">
  <tbody>
    <tr>
      <td
        style="font-family: sans-serif; font-size: 14px; vertical-align: top; background-color: #42BD41; border-radius: 5px; text-align: center;"
      >
        <a
          href="{{ confirm_approve_url }}"
          target="_blank"
          style="display: inline-block; width: 180px; color: #0a0a0a; background-color: #42BD41; border: solid 1px #42BD41; border-radius: 5px; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 10px; font-weight: bold; margin: 0; padding: 10px 20px; text-transform: capitalize; border-color: #FCE903;"
        >
          <span style="font-size: 1.4em; font-weight: bold">Yes/Approve</span>
        </a>
      </td>
      <td
        style="font-family: sans-serif; font-size: 14px; vertical-align: top; background-color: #ED2839; border-radius: 5px; text-align: center;"
      >
        <a
          href="{{ confirm_disapprove_url }}"
          target="_blank"
          style="display: inline-block; width: 180px; color: #0a0a0a; background-color: #ED2839; border: solid 1px #42BD41; border-radius: 5px; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 10px; font-weight: bold; margin: 0; padding: 10px 20px; text-transform: capitalize; border-color: #FCE903;"
        >
          <span style="font-size: 1.4em; font-weight: bold">No/Reject</span>
        </a>
      </td>
      <td
        style="font-family: sans-serif; font-size: 14px; vertical-align: top; background-color: #f37209; border-radius: 5px; text-align: center;"
      >
        <a
          href="{{ confirm_part_approve_url }}"
          target="_blank"
          style="display: inline-block; width: 180px; color: #0a0a0a; background-color: #f37209; border: solid 1px #42BD41; border-radius: 5px; box-sizing: border-box; cursor: pointer; text-decoration: none; font-size: 10px; font-weight: bold; margin: 0; padding: 10px 20px; text-transform: capitalize; border-color: #FCE903;"
        >
          <span style="font-size: 1.4em; font-weight: bold"
            >Approve In Part</span
          >
        </a>
      </td>
    </tr>
  </tbody>
</table>

{% endblock %}
